<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.MessageNumMapper">

    <!-- 通用查询映射结果 -->
    <sql id="Base_Column_List">
        CpuCores,
        MemorySize,
        HardDiskSize,
        MesSaveTime,
        MessageNum,
        OutPatientNum,
        ServiceNum
    </sql>
    <resultMap id="BaseResultMap" type="com.example.demo.entity.MessageNum">
        <id column="ID" property="id"/>
        <result column="CpuCores" property="CpuCores"/>
        <result column="MemorySize" property="MemorySize"/>
        <result column="HardDiskSize" property="HardDiskSize"/>
        <result column="MesSaveTime" property="MesSaveTime"/>
        <result column="MessageNum" property="MessageNum"/>
        <result column="OutPatientNum" property="OutPatientNum"/>
        <result column="ServiceNum" property="ServiceNum"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        select MemorySize  from JHSER_Config_DB.MessageNum
        <where>
            <if test="id != null and id != ''">
                <![CDATA[ and ID = #{id} ]]>
            </if>

        </where>
    </select>

    <update id="creatMsgModel">
        CREATE MODEL  MsgMode PREDICTING (MessageNum)
            WITH ( OutPatientNum int, ServiceNum int)
        FROM JHSER_Config_DB.MessageNum
    </update>

    <update id="createCpuModel">
        CREATE MODEL  CpuMode PREDICTING (CpuCores)  WITH ( MessageNum int, ServiceNum int)  FROM JHSER_Config_DB.MessageNum
    </update>

    <update id="createMemoryModel">
        CREATE MODEL  MemoryMode PREDICTING (MemorySize)  WITH ( MessageNum int, ServiceNum int)  FROM JHSER_Config_DB.MessageNum
    </update>

    <update id="createHardDiskModel">
        CREATE MODEL  HardDiskMode PREDICTING (HardDiskSize)  WITH ( MessageNum int, MesSaveTime int)  FROM JHSER_Config_DB.MessageNum
    </update>

    <delete id="dropModel">
        DROP MODEL  ${model}
    </delete>

    <select id="isModel" resultType="int">
        SELECT
            count(MODEL_NAME)AS num
        FROM INFORMATION_SCHEMA.ML_MODELS  where  MODEL_NAME =#{model}
    </select>

    <update id="trainModel">
        TRAIN model ${model}
<!--        TRAIN model CpuMode-->
    </update>

    <insert id="addMessage">
        INSERT INTO JHSER_Config_DB.MessageNum(
            CpuCores, HardDiskSize, MemorySize, MesSaveTime, MessageNum, OutPatientNum, ServiceNum) VALUES
        (#{cpuCores},#{HardDiskSize},#{MemorySize},#{MesSaveTime},#{MessageNum},#{OutPatientNum},#{ServiceNum})
    </insert>

    <insert id="importFile">
        INSERT INTO JHSER_Config_DB.MessageNum(
        CpuCores, HardDiskSize, MemorySize, MesSaveTime, MessageNum, OutPatientNum, ServiceNum) VALUES
        <foreach collection="list" item="element" index="index" separator=",">
        (
        #{element.CpuCores},
        #{element.HardDiskSize},
        #{element.MemorySize},
        #{element.MesSaveTime},
        #{element.MessageNum},
        #{element.OutPatientNum},
        #{element.ServiceNum}
        )
    </foreach>
    </insert>

    <insert id="addPrediction">
        INSERT INTO JHSER_Config_DB.Server(
       MesSaveTime, MessageNum, OutPatientNum, ServiceNum) VALUES
        (#{MesSaveTime},#{MessageNum},#{OutPatientNum},#{ServiceNum})
    </insert>


    <select id="prediction" resultType="java.util.Map">
        SELECT top 1 MesSaveTime, MessageNum, OutPatientNum,ServiceNum,
            PREDICT(MsgMode) MsgMode ,
               PREDICT(CpuMode) CpuMode ,
               PREDICT(MemoryMode) MemoryMode ,
               PREDICT(HardDiskMode) HardDiskMode
            FROM JHSER_Config_DB.Server order by id desc

    </select>
</mapper>
